@media only screen and (max-width: 600px) {
    .primary-box-padding{
        padding: 50px 0px;
    }
    .title{
        margin-left: 15px;
    }
    .cv-text{
        margin-left: 15px;
    }
    .cv-title{
        margin-left: 15px;
    }
    .contact-input{
        width: 80%;
        margin-left: 15px;

    }
    .contact-button{
        margin-left: 15px;
    }
    .sub-title{
        margin-left: 15px;
        margin-right: 25px;
    }
    .links-text{
        display: none;
    }
    .primary-button-link{
        padding: 20px 0px;
    }
  }